/* SECTION reset vari */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

html{
    font-family: 'Montserrat', sans-serif;
}

h2,
h3,
h2 + p,
h3 + p,
h6,
h6 + p,
.icon,
.playlist-item,
.account a{
    color: #fff;
}

/* SECTION Web-app */
.web-app{
    height: 100vh;
}

.web-app-main{
    height: 90%;
    display: flex;
}

.web-app-player{
    height: 10%;
    background-color: #282828;
    position: relative;
    z-index: 1;
}


/* SECTION aside */

.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 10%;
    overflow: hidden;
}

.logo{
    margin: 10px 0;
    height: fit-content;
}

.logo a img:first-child{
    width: 2em;
}

.aside img{
    width: 2em;
}

.logo a img:last-child{
    width: 9em;
    display: none;
}

.nav-aside{
    opacity: 0.7;
}

.nav-aside li{
    margin-bottom: 5px;
}

.nav-aside span{
    color: #fff;
    display: none;
    opacity: 0.7;
}

.playlist{
    margin-top: 10px;
    line-height: 2em;
    font-weight: 600;
}

.playlist h3{
    font-size: 1.5em;
}

.playlist-item{
    padding-left: 1.5em;
    opacity: 0.7;
    font-size: 0.8rem;
}

.playlist a i {
    padding: 0.3em 0;
    vertical-align: middle;
    font-size: 2em;
    color: #fff;
    opacity: 0.7;
}

.playlist ul,
.playlist h3{
    display: none;
}

.account{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account a img{
    vertical-align: middle;
    scale: 0.7;
    text-decoration: none;
}

.account span{
    font-size: 0.8em;
    opacity: 0.7;
    display: none;
}

.profile >img {
    scale: 0.8;
    background-color: #ccc;
    border-radius: 50%;
    vertical-align: middle;
}

.profile span{
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

/* SECTION main */

.main{
    background-color: #141922;
    width: 90%;
    position: relative;
}

.cta{
    background-color: #080B12;
    padding: 20px 20px 20px 0;
    text-align: right;
    opacity: 0.7;
    position: absolute;
    right: 0px;
    width: 100%;
}

.cta button{
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px 30px;
}

/* NOTE Nav main */

.nav-main ul{
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-main ul li{
    padding: 10px 8px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.nav-main ul li a{
    color: #fff;
    opacity: 0.5;
    font-weight: 600;
}

.focused::after{
    content: '';
    width: 50%;
    height: 2px;
    display: none;
    background-color: #40c28c;
    transform: translate(50%);
    margin-top: 1px;
}   

/* NOTE Contenuto */

h3,
h3 + p{
    text-align: center;
}

.content{
    padding-top: 80px;
    height: calc(90vh);
    overflow-y: scroll;
}

.music{
    padding: 0 10px;
}

.foryou{
    margin-top: 20px;
}

.songs,
.playlist,
.artists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}


.song-card img,
.playlist-card img,
.artists-card img{
    width: 100%;
}

.song-card,
.playlist-card,
.artists-card{
    margin-top: 10px;
    flex-basis: calc(100%/2 - 5px);
    flex-shrink: 0;
}

.artists-card img{
    clip-path: circle(50%);
}

h3{
    font-size: 0.9em;
}

h3 + p,
h2 + p{
    font-size: 0.7em;
    opacity: 0.6;    
}

/* SECTION Player */

.web-app-player{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.playing img{
    height: 5vh;
    margin-right: 5px;
}

h6{
    font-size: 0.8em;
}

.playing p{
    font-size: 0.7em;
    opacity: 0.7;
}

.playing{
    display: flex;
}

.liked{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.media-button{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}

.media-button i:nth-of-type(4n + 1){
    font-size: 0.7em;
}

.timeline{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time{
    color: #fff;
    font-size: 0.7em;
}

.settings{
    display: none; 
}

/* NOTE Slider */

input[type=range]{
    flex-grow: 1;
    margin: 0 5px;
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb{
    height: 15px;
    width: 15px;
    background-color: #40c28c;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track{
    border: 2px solid #404040;
    border-radius: 20px;
    background-color: #c1c1c1;
    height: 15px;
}

input[type=range]::-moz-range-progress{
    background-color: #40c28c;
    height: 15px;
    border-radius: 20px;
}